body {
  background-color: black;
}

.browse {
  color: white;
  font-family: sans-serif;
  height: 100%;
}

.title {
  margin: 50px 50px 0px 50px;
}

.tile img{
  opacity: 0.7;
  transition: 0.3s;
}

.tile {
  cursor: pointer;
}

.tile:hover img{
  filter: brightness(120%);
  opacity: 1
}

.logo {
  height: 100px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.roomList {
  margin: 0px 50px 10px 50px
}

.MuiGridListTileBar-title{
  font-weight: bold;
}

.MuiGridListTileBar-subtitle{
  font-weight: bold;
  color: rgb(200, 200, 200)
}