.container {
  background: #030B1E;
}


/* player-container and player are used in Player.tsx to make the player fill its parent */
.player-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; 
  height: 0; 
  overflow: 
  hidden;
}

#player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
